.invalid-data {
  background-color: red;
}
button {
  width: 150px;
  background-color: lightgrey;
  border-radius: 5px;
}

button:hover {
  background-color: darkgray;
}
input {
  width: 200px;
  background-color: lightgrey;
  border-radius: 5px;
  border-color: darkgray;
  text-align: center;
}
.contacts td {
  background-color: lightgrey;
  border-radius: 5px;
}

.newContact {
  text-align: center;
  width: 200px;
}
