.accordion-title {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: lightgray;
  border: 1px solid darkgray;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.accordion-body {
  display: none;
}
.accordion-item.accordion-active .accordion-title {
  background-color: gray;
  border-radius: 5px 5px 0 0;
}
.accordion-item.accordion-active .accordion-body {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 5px;
  background-color: lightgray;
  border: 1px solid darkgray;
  border-radius: 0 0 5px 5px;
  text-align: center;
}
